<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testing call backs</title>
</head>
<body>
    <form action="/calculate" method="post">
        <label for="input">add the number and calculate</label>
        <input type="number" name="input1" id="">
        <input type="number" name="input2" id="">
        <select name="operations" id="">
            <option value="soma">soma</option>
            <option value="subtracao">subtração</option>
            <option value="divisao">divisão</option>
            <option value="multiplicacao">multiplicação</option>
        </select>
        <button type="submit">calculate</button>
    </form>
</body>
</html>